/* css for the header */
body {
    background: #B6B6B6;
}

.item i.icon{
    font-size: 2em;
}

a.item {
    font-size: 1em;
}


#block {
    padding-top: 50px;
}

#google_auth {
    padding-top: 50px;
}


